<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="center.cyq.software.dao.MyGameDao">

    <select id="getCartInfo" parameterType="Integer" resultType="Game">
        SELECT game.* FROM mygame, game WHERE mygame.userId = #{userId} AND mygame.gameId = game.id AND `type` = 0
    </select>
    <delete id="deleteGameInCart" parameterType="Integer">
        DELETE FROM mygame WHERE gameId = #{gameId} AND userId = #{userId} AND `type` = 0
    </delete>
    <delete id="deleteAllGameInCart" parameterType="Integer">
        DELETE FROM mygame WHERE userId = #{userId} AND `type` = 0
    </delete>
</mapper>