<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="center.cyq.software.dao.SessionDao">

    <select id="getSession" parameterType="String" resultType="Session">
        SELECT * FROM `session` WHERE mail = #{mail}
    </select>

    <update id="updateCode" parameterType="Session">
        UPDATE `session` SET code = #{code} WHERE mail = #{mail}
    </update>

    <insert id="addMail" parameterType="String">
        INSERT INTO `session` (mail) VALUES (#{mail})
    </insert>

</mapper>