<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="center.cyq.software.dao.UserDao">
    <insert id="addUser" parameterType="User">
        insert into user (userName, gender, password, mail) values (#{userName}, #{gender},#{password}, #{mail})
    </insert>
    <select id="findUserByMail" parameterType="User" resultType="User">
        SELECT * FROM user WHERE mail = #{mail}
    </select>
    <update id="updateUser" parameterType="User">
        UPDATE user SET password = #{password}
        <if test="userName != null and userName != ''">
            , `userName` = #{userName}
        </if>
        <if test="gender != null and gender != ''">
            , gender = #{gender}
        </if>
        WHERE mail = #{mail}
    </update>
</mapper>